---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not Found">
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-white text-3xl text-center">Esta pagina no existe ...</h1>
        <img src="https://midu.dev/images/this-is-fine-404.gif" alt="404 Image">
    </div>
</Layout>